@using Models;

@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage;
@inject IJSRuntime jsRuntime;

<div>
    @if (DisplayMode == HighScoresDisplayMode.Button)
    {
        <div class="high-scores-button" @onclick="ShowHighScores">
            <p>High Scores</p>
        </div>
    }
    else if (DisplayMode == HighScoresDisplayMode.Show)
    {
        <div class="high-scores">
            <h1>High Scores</h1>
            <button class="high-scores-close-button" @onclick="HideHighScores">X</button>
            <div hidden="@NewScoreEntryIsHidden()">
                <p>Enter Your Name:</p>
                <input id="playerNameInput" type="text" maxlength="15" @bind="_playerName" @onkeyup="HandleKeyUp" @onkeyup:stopPropagation />
            </div>
            <table class="high-scores-table">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Stage</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var score in _highScores)
                    {
                        <tr>
                            <td>@score.PlayerName</td>
                            <td>@score.Stage</td>
                            <td>@score.Score</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

</div>

@code {

    [Parameter]
    public HighScoresDisplayMode DisplayMode { get; set; }

    [Parameter]
    public int CurrentScore { get; set; }

    [Parameter]
    public int CurrentStage { get; set; }

    private const int MaxHighScoreCount = 10;

    private List<ScoreModel> _highScores;
    private bool _hidePlayerNameEntry;
    private string _playerName;

    IJSObjectReference module;

    protected override void OnInitialized()
    {
        DisplayMode = HighScoresDisplayMode.Button;
        _highScores = localStorage.GetItem<List<ScoreModel>>("highscores") ?? new List<ScoreModel>();
    }

    private async void ShowHighScores()
    {
        _hidePlayerNameEntry = false;
        DisplayMode = HighScoresDisplayMode.Show;
        module = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/helpers.js");
        await module.InvokeAsync<string>("setFocus", "playerNameInput");
    }

    private void HideHighScores()
    {
        DisplayMode = HighScoresDisplayMode.Button;
    }

    private bool NewScoreEntryIsHidden()
    {
        var scores = _highScores.Select(h => h.Score);
        return scores.Any() && CurrentScore <= scores.Min() && scores.Count() > MaxHighScoreCount
            || CurrentScore == 0
            || _hidePlayerNameEntry;
    }

    private void HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            AddNewHighScore();
        }
    }

    private void AddNewHighScore()
    {
        if(!string.IsNullOrWhiteSpace(_playerName))
        {
            if (_highScores.Count >= MaxHighScoreCount)
            {
                _highScores.RemoveAt(MaxHighScoreCount - 1);
            }
            _highScores.Add(new ScoreModel { PlayerName = _playerName, Score = CurrentScore, Stage = CurrentStage, ScoreDate = DateTime.Now });
            _highScores = _highScores.OrderByDescending(h => h.Score).ToList();
            _hidePlayerNameEntry = true;
            _playerName = string.Empty;
            localStorage.SetItem<List<ScoreModel>>("highscores", _highScores);
        }
    }
}