@using Models; 

<div class="player-car @color-car @css" style="@styles"></div>

@code {
    [Parameter]
    public PlayerCarModel Model { get; set; }

    string color => Model.Color;
    string css => Model.HasCollision ? "car-crash" : string.Empty;
    string styles => $"top: {Model.Top}px; left: {Model.Left}px; height: {Model.Height}px; width: {Model.Width}px;";
}
