@using Models; 

<div>
    <div class="player-car @color-car @crash" style="@styles"></div>
    <div class="@lights @crash" style="@styles" />
</div>

@code {
    [Parameter]
    public PlayerCarModel Model { get; set; }

    [Parameter]
    [EditorRequired]
    public StageManager StageManager { get; set; }

    string color => Model.Color;
    string crash => Model.HasCollision ? "car-crash" : string.Empty;
    string styles => $"top: {Model.Top}px; left: {Model.Left}px; height: {Model.Height}px; width: {Model.Width}px;";
    string lights => StageManager.CurrentStage.IsNightTime ? "player-car-lights" : string.Empty;
}
